<div>
	<table>
		<tr>
			<td colspan="2">
                <div class="input-prepend">
                    <span class="add-on"><input type="checkbox" ng-model="todo.Completed" ng-checked="todo.Completed"/></span>
                    <input type="text" ng-model="todo.Title"/>
                </div>
            </td>
		</tr>
		<tr>
			<td colspan=2>
				<textarea ng-model="todo.Description"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				Tags: <span ng-repeat="tag in tags" class="label">{{tag.Title}} <i class="icon-remove"></i></span><br />
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-plus-sign"></i></span>
                    <input type="text" ng-model="Form.CurrentTagText" placeholder="Enter Tag Name" />
                    <button class="btn" ng-click="writeTag()">Write</button>
                </div>
                
			</td>
		</tr>
        <tr ng-show="todo.Requirements.length > 0">
			<td colspan=2>
				Requirements:
				<ul>
					<li ng-repeat="todo in todo.Requirements">{{todo.Title}}</li>
				</ul>
			</td>
		</tr>
		<tr ng-show="todo.Lists.length > 0">
			<td colspan=2>
				Lists:
				<ul>
					<li ng-repeat="list in todo.Lists">{{list.Title}}</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<button class="btn" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="save()">Save</button>
			</td>
		</tr>
	</table>
</div>