<div class="well">
    <ul>
        <!--<ul class="nav nav-pills">
            <li ng-repeat="context in contexts" ng-class="{'active': context.Title == SelectedContext}"><a href ng-click="setContext(context.Title)">{{context.Title}}</a></li>
        </ul>-->
        <select
            ng-model="Form.SelectedTag"
            ng-options="tag.Title for tag in Form.TagOptions">
        </select>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.Completed" ng-checked="todo.Completed" disabled="true" />
            <a ng-href="#/edit/{{todo.TaskID}}">{{todo.Title}}</a> - {{todo.DueDate}} - <span ng-repeat="tag in todo.Tags">{{tag.Title}}</span>
        </li>
    </ul>
</div>
