<div>
    <select
        ng-model="Form.SelectedTag"
        ng-options="tag.Title for tag in Form.TagOptions">
    </select>
    <div ng-repeat="todo in todos" class="well well-small" ng-click="edit({{todo.TaskID}})">
        <i class="icon-edit"></i>
        <a ng-href="#/edit/{{todo.TaskID}}">{{todo.Title}}</a>
        <div ng-show="todo.DueDate">Due: {{todo.DueDate | jsonDate}}</div>
        <div ng-show="todo.Description">{{todo.Description}}</div>
        <span class="label" ng-repeat="tag in todo.Tags | filter: '!'+Form.SelectedTag.TagID">{{tag.Title}}</span>
    </div>
</div>
