<div class="well">
	<table>
		<tr>
			<td colspan="2">
                <div class="input-prepend">
                    <span class="add-on"><input type="checkbox" ng-model="todo.Completed" ng-checked="todo.Completed"/></span>
                    <input type="text" ng-model="todo.Title" placeholder="Task Title"/>
                </div>
            </td>
		</tr>
        <tr>
            <td colspan="2">
                Due: {{todo.DueDate | jsonDate}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Repeat: <span repeat-format repeat-formula="todo.RepeatFormula"></span>
            </td>
        </tr>
		<tr>
			<td colspan=2>
				<textarea ng-model="todo.Description" ng-submit="save()" placeholder="Text Description..." style="width: 100%; height: 100px;"></textarea>
			</td>
		</tr>
		<tr>
		    <td colspan=2>
		        Priority: <select ng-options="n for n in [1, 2, 3, 4, 5, 6]" ng-model="todo.Priority"></select>
		    </td>
		</tr>
		<tr>
			<td colspan=2>
				Tags: <span ng-repeat="tag in todo.Tags" class="label" style="margin-right: 4px;"><i class="icon-tag"></i> {{tag.Title}} <i class="icon-remove" ng-click="removeTag(tag)"></i></span><br />
                <div class="input-prepend input-append">
                    <input type="text" ng-model="Form.CurrentTagText" placeholder="Tag Name" />
                    <button class="btn" ng-click="writeTag()"><i class="icon-plus"></i></button>
                </div>
			</td>
		</tr>
        <tr ng-show="todo.Requirements.length > 0">
			<td colspan=2>
				Requirements:
				<ul>
					<li ng-repeat="todo in todo.Requirements">{{todo.Title}}</li>
				</ul>
			</td>
		</tr>
		<tr ng-show="todo.Lists.length > 0">
			<td colspan=2>
				Lists:
				<ul>
					<li ng-repeat="list in todo.Lists">{{list.Title}}</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<button class="btn" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="save()">Save</button>
			</td>
		</tr>
	</table>
</div>