<div>
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" ng-model="todo.Title"/></td>
		</tr>
		<tr>
			<td colspan=2>Description</td>
		</tr>
		<tr>
			<td colspan=2>
				<textarea ng-model="todo.Description"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				Requirements:
				<ul>
					<li ng-repeat="todo in todo.Requirements">{{todo.Title}}</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				Lists:
				<ul>
					<li ng-repeat="list in todo.Lists">{{list.Title}}</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<a href="#/list">Cancel</a> <a href="" ng-click="save()">Save</a>
			</td>
		</tr>
	</table>
</div>